<div id="comments" class="w-full min-w-full">
  <div class="shadow-2xl p-4 mb-8 rounded-lg bg-white">
    <%= turbo_frame_tag 'comments' do %>
      <%= render partial: "comments/comment", collection: @post.comments %>
    <% end %>

  </div>
</div>