<div class="w-full">

  <div class="relative"
       data-controller="slider"
       data-slider-auto-value="true"
       data-slider-speed-value="3000"
       data-action="mouseover->slider#mouseOver mouseout->slider#mouseOut">

    <div class="">
      <div data-slider-target="slide" class="flex justify-center items-center h-64 w-full bg-blue-500 text-9xl rounded-lg">1</div>
      <div data-slider-target="slide" class="flex justify-center items-center h-64 w-full bg-purple-500 text-9xl rounded-lg hidden">2</div>
      <div data-slider-target="slide" class="flex justify-center items-center h-64 w-full bg-yellow-500 text-9xl rounded-lg hidden">3</div>
      <div data-slider-target="slide" class="flex justify-center items-center h-64 w-full bg-green-500 text-9xl rounded-lg hidden">4</div>
    </div>

    <button data-action="slider#previous" class="flex justify-center items-center absolute top-0 left-0 z-30 px-4 h-full cursor-pointer">
      <%= heroicon 'chevron-left' %>
    </button>

    <button data-action="slider#previous" class="flex justify-center items-center absolute top-0 right-0 z-30 px-4 h-full cursor-pointer">
      <%= heroicon 'chevron-right' %>
    </button>
  </div>

  <div id="posts" class="min-w-full">
    <div class="flex items-center justify-center mb-2">
      <% (@posts.size/10).ceil.times do |i| %>
        <%= link_to (i+1), root_path(page: i+1), class: "group-button bg-gray-500 p-2" %>
      <% end %>
    </div>
    <%= render @posts %>
  </div>
</div>
